.pio
.vscode
*.kicad_pcb.lck

Schematics/Block-Party/Block-Party-Main-Board/production/
Schematics/Block-Party/Block-Party-Cube-Top-Board/production
Schematics/Block-Party/Block-Party-Cube-Bottom-Board/production

Schematics/Block-Party/Block-Party-Main-Board/Block-Party-Main-Board-backups/
Schematics/Block-Party/Block-Party-Cube-Bottom-Board/Block-Party-Bottom-Board-backups/
Schematics/Block-Party/Block-Party-Cube-Top-Board/Block-Party-Cube-Top-Board-backups/